.dashboard {
    display: flex;
    padding: 20px;
    flex-direction: column;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 850px;
    min-width: 550px;;
    border-radius: 5px;
    height: 205px;
    margin-bottom: 25px;
    background: white;
}

.profileButton{
    float: left;
}

.recommendButton{
    float: right;
}

.dash-movie-poster img{
    float: left;
    height: 205px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-right: 5px;
}

.recommendation-header {
    font-family: 'Lato', sans-serif;
}
.dash-container .dash-movie-title {
    padding-top: 1px;
}

.myRecommended .recommended-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 850px;;
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 12px;
    background: white;
}
