
.recent-activity{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.global-activity{
    height: 85vh;
}

.movie-poster{
    border-radius: 5px;
}

.dash-recommended{
    width: 250px;
}

.dash-card {
padding: 16px;
}

.dashRecommended .dash-recommended-list {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 95%;
    border-radius: 5px;

    
    background: white;
} 

.dashRecommended{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.react-tabs__tab-list{
    text-align: center;
}

.dash-recommendation-header h2 {
    padding: 15px;
    text-align: center;
}
/* .dashboard {
    display: flex;
    padding: 20px;
    flex-direction: column;
}

.filter-genre{
    height: 5vh;
}

#genre-filter-dropdown{
    padding-bottom: 5px;
}



.dash{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 85vh;
    border-radius: 5px;
    width: 95%;
    padding-top: 25px;
    background: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}
.dash-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-bottom: 25px;
    background: white;
}

.dash-buttons {
    display: flex;
    padding-bottom: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.dash-movie-poster img{
    float: left;
    height: 203px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-right: 5px;
}

.dash-recommendation-header h2 {
    font-family: 'Lato', sans-serif;
    font-size:2vw;
}
.dash-container .dash-movie-title {
    padding-top: 1px;
}

*/

.overflow {
        width: 100%;
        height: 77vh;
        overflow: auto;
}

@media only screen and (max-width: 600px){
    .react-tabs__tab-list{
        margin-bottom: 0;
    }

    .dashRecommended .dash-recommended-list {
        width: 100%;
    } 
}

/* @media only screen and (max-width: 768px){
.tab-panel {

    float: none;
    display: none;
  }
  
  input[name="tabs"] {
    display: none;
  }

  #tab1label{
    display: inline;
    padding-left: 145px;

}

#tab2label{
    display: inline;
    text-align: center;
}

  input[name="tabs"]:checked + label {
    font-weight: bold;
  }
  
  input[id="tab1"]:checked ~ .tab-panel#col1 {
    display: block;
  }
  
  input[id="tab2"]:checked ~ .tab-panel#col2 {
    display: block;
  }

  .dashRecommended{
      width: 100%;
  }

  .dashRecommended .dash-recommended-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
    height: 95vh;
    background: white;
}
.dashboard-container-left{
    padding-left: 0px;
    width: 100%;
}

.dashboard-container-right{
    padding-right: 0px;
    width: 100%;
}

.dash-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
    height: 130px;
    margin-bottom: 25px;
    background: white;
}

.dash{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 95vh;
    border-radius: 5px;
    width: 100%;
    padding-top: 25px;
    background: white;
    margin: auto;
}

.dash-movie-poster img{
    float: left;
    height: 130px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-right: 5px;
}

.overflow {
    width: 100%;
    height: 535px;
    overflow: auto;
}

.dash-container .dash-movie-title h3{
    padding-top: 1px;
    font-size: 20px;
}

.dash-recommendation-header h2 {
    font-size:4vw;
}

.dash-rec-user h3{
    font-size: 15px;
    float: left;
}

.dash-movie-genres{
    font-size: 12px;
}

.dash-buttons {
display: inline;

}

.profileButton{
    float: left;
    padding-bottom: 20px;
}

.recommendButton{
    float: right;
    padding-bottom: 20px;
}

.dash-recommendation-header{
    border-top: 1px solid black;
}

.dash-complete-rec{
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.dash-recommend-desc{
    font-size: 12px;
    padding-left: 5px;
}

.recent-activity{
    padding: 10px;
}

} */
