nav {
    width: 100%;
    height: 60px;
    z-index: 1;
}

.navbar{
    width: 100%;
    background: #F5F5F5;
    padding: 0px;
    
}

/* .profileBttn{
    border-radius: 50%;
    background: white;
    height: 25px;
    width: 25px;
    text-align: center;
} */

.logoutBtn{
    border: none;
    background: #F5F5F5;
    cursor: pointer;
}

.recBtn{
    background: #00c4cc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logo{
    float: left;
    padding-top: 10px;
    padding-left: 25px;
    color: #333;
    font-size: 25px;
    font: bold;
}
nav ul{
    width: 80%;
    margin-bottom: 0 ;
    padding: 0;
    float: right;
    text-align: right;
    padding-right: 25px;
}

nav .active li a{
    color: white;
    
}


nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    
}

/* nav ul li:hover{
    background: #71ffdd;
} */

nav ul li a{
    color: white;
    text-decoration: none;
}

.toggle{
    width: 100%;
    padding: 10px 20px;
    background: whitesmoke;
    text-align: right;
    box-sizing: border-box;
    color: #333;
    font-size: 30px;
    display: none;
}
@media (max-width:1155px){
    nav ul li{
        list-style: none;
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
        
    }
}
@media (max-width:880px){
    .toggle{
        display: block;
    }

    .logo{
        padding-top: 20px;
    }

    nav ul{
        width: 100%;
        display: none;
    }

    nav ul li{
        display: block;
        text-align: center;
        padding: 5px;
    }

    nav .active{
        display: block;
        background: whitesmoke;
        padding: 0;
    }

    header nav ul li a form ul{
        display: block;
        width: 100%;
    }
}
