.header-bar {
    height: 125px;
}
.header-bar li {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

#logo {
    float: left;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}