.home{
    display: flex;
    flex-direction: column;
}

.register-login-forms{
    padding: 16px;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 25px;
    background-color:rgba(0,0,0,0.5);
    height: 600px;
}

.landing-image{
    height: 700px;
    background-image: url(../images/landing1.jpg);
    background-size: cover; 
    background-position: center; 
}

.about-section{
    background: white;
    min-height: 450px;
}

.about-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    font-family: 'Ubuntu', sans-serif;

}

.about-bottom{
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.about-header h2{
    font-size: 35px;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    text-align: center;
}

.about-first{
    max-width: 500px;
    padding: 15px;
    font-family: 'Ubuntu', sans-serif;
}

.about-first h3{
    text-align: center;
}

.about-second h3{
    text-align: center;
}

.about-third h3{
    text-align: center;
}

.about-second{
    max-width: 500px;
    padding: 15px;
}

.about-third{
    max-width: 500px;
    padding: 15px;
}

.react-tabs__tab{
    color: white;
}

.react-tabs__tab--selected {
    color: white;
    background: #00c4cc;
}

#react-tabs-14[aria-selected="false"]{
    color: #71ffdd;
}

@media only screen and (max-width: 768px){
    .landing-image{
        height: 600px;
    }

    .register-login-forms{
          padding: 16px;
          width: 300px;
          margin-bottom: 25px;
          margin-top: 25px;
          margin-left: auto;
          margin-right: auto;
          height: 550px;
      }
    
      
}