.movie-page {
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    align-items: center;
    justify-content: center;

}

.movie-page .movie-container {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-bottom: 25px;
    background: white;
    padding: 16px;
}

.movie-page .movie-poster img{
    height: 500px;
    float: left;
}

.movie-page .movie-body {
    padding: 12px;
}

.movie-page .recommendations {
    clear: both;
}

.movie-page .movie-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        max-width: 850px;
        min-width: 550px;;
        border-radius: 5px;
        height: 500px;
        margin-bottom: 25px;
        background: linear-gradient(to left, #ededed 0%,#f6f6f6 53%,#ffffff 100%);
        
}

.movie-page .movie-title {
    font-family: 'Lato', sans-serif;
    font-size: 45px;
}

.movie-recommendations {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 850px;
    min-width: 550px;;
    border-radius: 5px;
    height: 500px;
    margin-bottom: 25px;
    background: linear-gradient(to left, #ededed 0%,#f6f6f6 53%,#ffffff 100%);
}

.recommend-description {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 2px 16px;
    width: 300px;
    height: 100px;
    background-color: white;
}

.recommend-description:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.recommend-description-container {
    padding: 2px 16px;
    
    
}

.movie-page-rec-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1em 0;
}