.movie-page {
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    align-items: center;
    justify-content: center;

}

.movie-page .movie-container {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background: white;
    padding: 16px;
    width: 40%;
    height: 93vh;
    margin-top: 25px;
}

.movie-page .movie-poster img{
    height: 40vh;
    float: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.movie-page .movie-body {
    padding: 12px;
}

.movie-page .recommendations {
    clear: both;
}

.movie-page .movie-top {
    display: flex;
    flex-direction: row;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 100%;
        border-radius: 5px;
        height: 40vh;
        margin-bottom: 25px;
        
        
}

.movie-page .movie-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 100%;
        border-radius: 5px;
        height: 10vh;
        margin-bottom: 25px;
        
        
}

.movie-page .movie-title {
    font-family: 'Lato', sans-serif;
    font-size: 3vw;
}

.movie-recommendations {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
    height: 33vh;
    margin-bottom: 25px;
    overflow: auto;
    
}

.recommend-description {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 2px 16px;
    margin: 10px;
    width: 300px;
    background-color: white;
}

.recommend-description:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.recommend-description-container {
    padding: 2px 16px;
    
    
}

.movie-page-rec-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1em 0;
}

.movie-release{
    border-right: 1px solid #333;
    width: 33%;
    padding: 10px;
    height: 10vh;
}

.movie-release p{
    font-size: .9vw;
}

.movie-release h3{
    font-size: 1vw;
}

.genres{
    border-right: 1px solid #333;
    width: 33%;
    padding: 10px;
    height: 10vh;
}

.genres p{
    font-size: .9vw;
    
}
    
.genres h3{
    font-size: 1vw;
}

.recommended{
    width: 33%;
    padding: 10px;
    height: 10vh;
}

.recommended p{
    font-size: .9vw;
}
    
.recommended h3{
    font-size: 1vw;
}

@media only screen and (max-width: 768px){
    .movie-page .movie-container {
        width: 100%;
        padding: 0px;
        margin-top: 0;
        height: 775px;;
    }
    
    .movie-page .movie-title{
        font-size: 24px;
    }

    .movie-overview h3{
        display: none;
    }

    .movie-release{
        padding: 5px;

    }
    
    .movie-release p{
        font-size: 2.5vw;
    }
    
    .movie-release h3{
        font-size: 4vw;
    }
    
    .genres{
        border-right: 1px solid #333;
        width: 33%;
        padding: 5px;
        
    }
    
    .genres p{
        font-size: 2.5vw;
        
    }
        
    .genres h3{
        font-size: 4vw;
    }
    
    .recommended{
        width: 33%;
        padding: 5px;
        
    }
    
    .recommended p{
        font-size: 2.5vw;
    }
        
    .recommended h3{
        font-size: 4vw;
    }

    .recommend-description {
        width: 100%;
        height: 100px;
    }

    .movie-page-rec-list{
        width: 100%
    }

    .movie-page-rec-list li{
        width: 100%;
        padding-right:40px;
    }

    .movie-overview{
        overflow: auto;
        height: 200px;
    }

    .add-button{
        margin-top: 15px;
    }

    .movie-recommendations h2{
        font-size: 15px;
    }

    .movie-page .movie-top {
            height: 300px;    
    }

    .movie-page .movie-poster img{
        height: 300px;
    }

    .movie-recommendations {
        height: 325px;
        margin-bottom: 5px; 
    }
    
}