.follow-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 87vh;
    border-radius: 5px;
    width: 95%;
    padding-top: 25px;
    background: white;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;

}

.follow-section h2{
    font-size:24px;
}

.follow-section{
    font-size:16px;
}

.followers-list{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    transition: 0.3s;
    padding: 10px;
    background-color: white;
    width: 350px;
    height: 500px;
    overflow: auto;
    margin-bottom: 15px;
}

.following-list{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    transition: 0.3s;
    background-color: white;
    padding: 10px;
    margin-bottom: 15px;
    width: 350px;
    overflow: auto;
    height: 500px;
}


.profile-delete-button p {
    margin: 0;
}

.fa-check-circle{
    float: left;
    width: 50px;  
}

.editBtn{
    float: left;
    width: 50px;
}

.profile-delete-button{
    float: right;
    width: 50px;
}

@media only screen and (max-width: 768px){
    .follow-section{
        height: 87vh;
        width: 100%;
        padding-top: 25px;
        margin-top: 0px;
    
    }
    
    .follow-section h2{
        font-size:25px;
    }
    
    .follow-section{
        font-size:15px;
    }

    .followers-list{


        height: 450px;

    }
    
    .following-list{

        height: 450px;
    }
}

/* 

.myProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    width: 95%;
    height: 85vh;
    border-radius: 5px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;

}

.myProfile ul{
    padding: 0px;
}

.myProfileBody{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100vh;
    
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
    height: 145px;
    margin-bottom: 25px;
    
}

#tab1{
    display: none;
}

#tab2{
    display: none;
}
#tab3{
    display: none;
}

#tabReclabel{
    display: none;
}

#tabWatchlabel{
    display: none;
}

#tabFollowlabel{
    display: none;
}



.recommended-list-section {
    width: 35%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-bottom: 25px;
    background-color: white;
    padding: 5px;
    height: 80vh;
}

.profile-movie-poster img{
    float: left;
    height: 15vh;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-right: 5px;
}

.recomendation-header h2{
    font-size:2vw;
}

.profile-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    height: 15vh;
    margin-bottom: 25px;
    background-color: white;
    margin: 10px;
}

.profile-delete-button{
    float: right;
    padding: 5px;
    
}

.profile-recommend-desc button{
    float: right;
    margin: 5px;
    width: 10%;
    font-size:0.5vw;
}

.profile-recommend-desc p{
    padding-top: 15px;
    font-size:0.7vw;
}

.profile-movie-title h3{
    font-size:1vw;
}

.profile-movie-genres{
    font-size:0.7vw;
}

.recommendButton{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    width: 10%;
    font-size:0.5vw;
}

.recommended-list-section ul {
    overflow: auto;
    height: 70vh;
    width: 100%;
}



.myWatchlist-section{
    width: 35%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-bottom: 25px;
    margin-left: 12px;
    background-color: white;
    padding: 5px;
    height: 80vh;
}

.profile-watch-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    height: 15vh;
    margin-bottom: 25px;
    background-color: white;
    margin: 10px;
}

.watch-movie-poster img{
    float: left;
    height: 15vh;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-right: 5px;
}

.watch-delete-button{
    float: right;
    padding: 5px;
    
}

.watch-movie-title h3{
    font-size:1vw;
}

.watch-genre{
    font-size:0.7vw;
}

.myWatchlist-section h2{
    font-size:2vw;
}

.myWatchlist-section ul{
    overflow: auto;
    height: 70vh;
    width: 100%;
}


.follow-section{
    width: 20%;

}

.follow-section h2{
    font-size:2vw;
}

.follow-section{
    font-size:0.7vw;
}

.following-list{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-bottom: 25px;
    margin-left: 12px;
    background-color: white;
    height: 30vh;
    padding: 5px;
}

.followers-list{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-bottom: 25px;
    margin-left: 12px;
    background-color: white;
    padding: 5px;
    height: 30vh;
}

@media only screen and (max-width: 768px){
    .tab-panel {
        display: none;
      }
      
      input[name="tabs"] {
        display: none;
      }
    
      #tabReclabel{
        display:inline-block;
        
    
    }
    
    #tabWatchlabel{
        display:inline-block;
        
    }
    #tabFollowlabel{
        display:inline-block;
        
    }
    
      input[name="tabs"]:checked + label {
        font-weight: bold;
      }
      
      input[id="tab1"]:checked ~ .tab-panel#col1 {
        display: block;
      }
      
      input[id="tab2"]:checked ~ .tab-panel#col2 {
        display: block;
      }
      input[id="tab3"]:checked ~ .tab-panel#col3 {
        display: block;
      }

      .myProfileBody{
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 100%;
        height: 100vh;
        
    }

    .myProfileBody label{
        display: inline-block;
    }


      .recommended-list-section {
        width: 100%;
    }

    .profile-recommend-desc p{
        padding-top: 15px;
        font-size:3vw;
    }

    .profile-movie-title h3{
        font-size:5vw;
    }
    
    .profile-movie-genres{
        font-size:2.5vw;
    }

    .recommendButton{
        float: right;
        margin-top: 5px;
        margin-right: 30px;
        width: 10%;
        font-size:3vw;
    }

    .profile-recommend-desc button{
        float: right;
        margin: 5px;
        width: 10%;
        font-size:2vw;
    }

    .recommended-list-section {
        height: 100vh;
    }

    .recomendation-header h2{
        font-size:4vw;
    }



    .myWatchlist-section{
        width: 100%;
        margin-left: 0px;
    }

    .myWatchlist-section h2{
        font-size:5vw;
    }

    .watch-movie-title h3{
        font-size:5vw;
    }
    
    .watch-genre{
        font-size:3vw;
    }

    .recommendButton{
        float: right;
        margin-top: 5px;
        margin-right: 30px;
        width: 10%;
        font-size:2vw;
    }

    .recommended-list-section {
        height: 100vh;
    }


    .follow-section{
        width: 100%;
        margin-left: 0px;

    }

    .follow-section h2{
        font-size:5vw;
    }

    .follow-section{
        font-size:3vw;
    }

    .following-list{
        height: 30vh;
        overflow: auto;
    }

    .followers-list{
        height: 30vh;
        overflow: auto;
    }
    } */
