.searchPoster{
	height: 60px;

}

.result-title-rec {
	display: inline-block;
	color: white;
	position: relative;
}
.searchResultListing{margin: 7px;}
.rec-titles{background-color: black;
    position: absolute;
    width: 87.5%;
    height: 200px;
    left: 6.2%;
    overflow-x: hidden;
    overflow-y: scroll;}
