.searchPoster{
	height: 60px;

}

.result-title-rec {
	display: inline-block;
	color: black;
	position: relative;
}
.searchResultListing{
    margin: 7px;
    margin: 7px;
    border-bottom: 1px solid #00c4cc;
    width: 100%;
    text-align: left;
    padding-bottom: 10px;
    color: black;
}
.rec-titles{background-color: #F5F5F5;
    position: absolute;
    width: 87.5%;
    height: 200px;
    left: 6.2%;
    overflow-x: auto;
    overflow-y: auto;
    cursor: pointer;
}
