.register-form{
    padding: 16px;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 25px;
    background-color:rgba(0,0,0,0.5);
    height: 53vh;
}
.register-title{
    color: white;
}

.register-form label{
    color: white;
}

.input-container {
    width: 100%;
    font-size: 17px;
    font-weight: 100;
  }

  label {
    font-weight: 100;
  }

  .register-btn {
    border: 1px solid #333;
    color: #333;
      font-size: 12px;;
      background-color: #71ffdd;
      cursor: pointer;
      padding: 7px 25px;
      display: inline-block;
      margin: 20px 30px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 700;
      outline: none;
      position: relative;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      margin-left: 0;
  }

  .register-btn:hover,
  .register-btn:active {
    color: #181818;
    background-color: #fff;
  }

  .login-para {
    font-size: 16px;
    font-weight: 100;
  }

  .login-link:hover,
  .login-link:active {
    font-weight: 600;
  }

