.searchbar {
    height: 5px;
    width: 500px;
    padding: 20px 15px;
    margin: 10px;
    font-size: 25px;
    border-radius: 5px;
    line-height: 30px;
}

@media (max-width:1155px){
    .searchbar {
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
        margin-right: 5px;
    }
}

@media (max-width:1100px){
    .searchbar {
        width: 100%;
        margin: 0;
    }
}
