.user-recommended-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 75%;
    height: 1000px;;
    border-radius: 5px;
    background: #730F13;
    
}

.user-myRecommended{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 90vh;
    border-radius: 5px;
    width: 95%;
    padding-top: 25px;
    background: #730F13;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;


}

.followBtn{
    text-decoration: none;
background-color:#00c4cc;
color: white;
border-radius: 5px;
border: none;
width: 150px;
}

.following{
    text-decoration: none;
    background-color:#00c4cc;
    color: white;
    border-radius: 5px;
    border: none;
    width: 150px;

}

.imageWrapper {
    position: relative;
    width: 250px;
    overflow: auto;
}
.imageWrapper img {
    width: 100%;
    display: block;
}
.imageWrapper .cornerLink {
    opacity: 0;
    position: absolute;
    border-radius: 5px;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 2px 0px;
    margin: 0px;
    color: #ffffff;
    background: #000000;
    text-decoration: none;
    -webkit-transition: opacity 100ms;
    -moz-transition: opacity 100ms;
    -o-transition: opacity 100ms;
    transition: opacity 100ms;
    
}
.imageWrapper:hover .cornerLink {
    opacity: 0.8;
}

.imageWrapper .cornerLink .cornerLink-username{
    position: absolute;
    bottom: 0;
    right: 20px;
}

.imageWrapper .cornerLink .cornerLink-desc{
    position: absolute;
    top: 0;
    left: 20px;
    padding: 15px;
}

.user-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    height: 15vh;
    margin-bottom: 25px;
    background-color: white;
    width: 100%;
}

.followBtn{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.dashRecommended .user-dash-recommended-list {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 95%;
    border-radius: 5px;
    margin-top: 10px;
    height: 1000px;
    background: white;
} 


.user-recommended-list ul {
    padding: 10px;
    overflow: auto;
    height: 90vh;
    width: 100%;
}

@media only screen and (max-width: 768px){
    .user-recommended-list{
        width: 100%;
        
    }

    .user-myRecommended{
        width: 100%;
    
    
    }
}
